{% comment %}
  Category Slider Section - Horizontal scrolling category menu
{% endcomment %}

<div class="o-category-slider" data-behavior="categorySlider">
  <div class="o-category-slider__container">
    <ul class="o-category-slider__list">
      {% comment %} Hoodies Category {% endcomment %}
      {% assign is_homepage = false %}
      {% if template.name == 'index' %}
        {% assign is_homepage = true %}
      {% endif %}
      <li class="o-category-slider__item">
        <a href="{{ collections.hoodies.url | default: '/collections/hoodies' }}" class="o-category-slider__link {% if collection.handle == 'hoodies' or is_homepage %}o-category-slider__link--active{% endif %}">
          <span class="o-category-slider__text">Hoodies</span>
        </a>
      </li>
      
      {% comment %} Tees Category {% endcomment %}
      <li class="o-category-slider__item">
        <a href="{{ collections.tees.url | default: '/collections/tees' }}" class="o-category-slider__link {% if collection.handle == 'tees' %}o-category-slider__link--active{% endif %}">
          <span class="o-category-slider__text">Tees</span>
        </a>
      </li>
      
      {% comment %} 1 of 1s Category {% endcomment %}
      <li class="o-category-slider__item">
        <a href="{{ collections['1-of-1s'].url | default: '/collections/1-of-1s' }}" class="o-category-slider__link {% if collection.handle == '1-of-1s' %}o-category-slider__link--active{% endif %}">
          <span class="o-category-slider__text">1 of 1s</span>
        </a>
      </li>
      
      {% comment %} Bottoms Category {% endcomment %}
      <li class="o-category-slider__item">
        <a href="{% if collections.bottoms %}{{ collections.bottoms.url }}{% else %}/collections/bottoms{% endif %}" class="o-category-slider__link {% if collection.handle == 'bottoms' %}o-category-slider__link--active{% endif %}">
          <span class="o-category-slider__text">Bottoms</span>
        </a>
      </li>
      
      {% comment %} Accessories Category {% endcomment %}
      <li class="o-category-slider__item">
        <a href="{% if collections.accessories %}{{ collections.accessories.url }}{% else %}/collections/accessories{% endif %}" class="o-category-slider__link {% if collection.handle == 'accessories' %}o-category-slider__link--active{% endif %}">
          <span class="o-category-slider__text">Accessories</span>
        </a>
      </li>
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Category Slider",
  "settings": [],
  "presets": [
    {
      "name": "Category Slider"
    }
  ]
}
{% endschema %}
