{% comment %}
  Category Slider Section - Horizontal scrolling category menu
{% endcomment %}

<div class="o-category-slider" data-behavior="categorySlider">
  <div class="o-category-slider__container">
    <ul class="o-category-slider__list">
      {% comment %} Determine active state for homepage {% endcomment %}
      {% assign is_homepage = false %}
      {% if template.name == 'index' %}
        {% assign is_homepage = true %}
      {% endif %}
      
      {% comment %} ALL Category {% endcomment %}
      <li class="o-category-slider__item">
        <a href="{{ collections.all.url | default: '/collections/all' }}" class="o-category-slider__link {% if collection.handle == 'all' or (is_homepage and collection.handle == blank) %}o-category-slider__link--active{% endif %}">
          <span class="o-category-slider__text">ALL</span>
        </a>
      </li>
      
      {% comment %} TOPS Category {% endcomment %}
      <li class="o-category-slider__item">
        <a href="{% if collections.tops %}{{ collections.tops.url }}{% else %}/collections/tops{% endif %}" class="o-category-slider__link {% if collection.handle == 'tops' or is_homepage %}o-category-slider__link--active{% endif %}">
          <span class="o-category-slider__text">TOPS</span>
        </a>
      </li>
      
      {% comment %} BOTTOMS Category {% endcomment %}
      <li class="o-category-slider__item">
        <a href="{% if collections.bottoms %}{{ collections.bottoms.url }}{% else %}/collections/bottoms{% endif %}" class="o-category-slider__link {% if collection.handle == 'bottoms' %}o-category-slider__link--active{% endif %}">
          <span class="o-category-slider__text">BOTTOMS</span>
        </a>
      </li>
      
      {% comment %} 1 OF 1 PIECES Category {% endcomment %}
      <li class="o-category-slider__item">
        <a href="{% if collections['1-of-1s'] %}{{ collections['1-of-1s'].url }}{% else %}/collections/1-of-1s{% endif %}" class="o-category-slider__link {% if collection.handle == '1-of-1s' %}o-category-slider__link--active{% endif %}">
          <span class="o-category-slider__text">1 OF 1 PIECES</span>
        </a>
      </li>
      
      {% comment %} ACCESSORIES Category {% endcomment %}
      <li class="o-category-slider__item">
        <a href="{% if collections.accessories %}{{ collections.accessories.url }}{% else %}/collections/accessories{% endif %}" class="o-category-slider__link {% if collection.handle == 'accessories' %}o-category-slider__link--active{% endif %}">
          <span class="o-category-slider__text">ACCESSORIES</span>
        </a>
      </li>
    </ul>
  </div>
</div>

{% schema %}
{
  "name": "Category Slider",
  "settings": [],
  "presets": [
    {
      "name": "Category Slider"
    }
  ]
}
{% endschema %}
