{% comment %}
  Project Grid - Original Vercel "Explore the gifts selection" format
  Collection cards linking to Shopify collections
{% endcomment %}

<div class="o-project-grid" data-behavior="oProjectGrid">
  <ul class="o-project-grid__inner">
    {% if collections.tops != blank %}
      <li class="o-project-grid__item">
        <a href="#" data-category-filter data-collection="tops" data-collection-title="Tops">
          <div class="o-project-grid__img-wrapper">
            <figure>
              <div class="a-ratio-box a-ratio-box--1:1">
                {% if collections.tops.image != blank %}
                  <img src="{{ collections.tops.image | image_url: width: 600 }}" alt="{{ collections.tops.title }}">
                {% elsif collections.tops.products.first != blank and collections.tops.products.first.featured_image != blank %}
                  <img src="{{ collections.tops.products.first.featured_image | image_url: width: 600 }}" alt="{{ collections.tops.title }}">
                {% else %}
                  {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </div>
              <figcaption class="f-body--em">{{ collections.tops.title | upcase }}</figcaption>
            </figure>
          </div>
        </a>
      </li>
    {% endif %}
    {% if collections.bottoms != blank %}
      <li class="o-project-grid__item">
        <a href="#" data-category-filter data-collection="bottoms" data-collection-title="Bottoms">
          <div class="o-project-grid__img-wrapper">
            <figure>
              <div class="a-ratio-box a-ratio-box--1:1">
                {% if collections.bottoms.image != blank %}
                  <img src="{{ collections.bottoms.image | image_url: width: 600 }}" alt="{{ collections.bottoms.title }}">
                {% elsif collections.bottoms.products.first != blank and collections.bottoms.products.first.featured_image != blank %}
                  <img src="{{ collections.bottoms.products.first.featured_image | image_url: width: 600 }}" alt="{{ collections.bottoms.title }}">
                {% else %}
                  {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </div>
              <figcaption class="f-body--em">{{ collections.bottoms.title | upcase }}</figcaption>
            </figure>
          </div>
        </a>
      </li>
    {% endif %}
    {% if collections['1-of-1s'] != blank %}
      <li class="o-project-grid__item">
        <a href="#" data-category-filter data-collection="1-of-1s" data-collection-title="1 of 1 Pieces">
          <div class="o-project-grid__img-wrapper">
            <figure>
              <div class="a-ratio-box a-ratio-box--1:1">
                {% if collections['1-of-1s'].image != blank %}
                  <img src="{{ collections['1-of-1s'].image | image_url: width: 600 }}" alt="{{ collections['1-of-1s'].title }}">
                {% elsif collections['1-of-1s'].products.first != blank and collections['1-of-1s'].products.first.featured_image != blank %}
                  <img src="{{ collections['1-of-1s'].products.first.featured_image | image_url: width: 600 }}" alt="{{ collections['1-of-1s'].title }}">
                {% else %}
                  {{ 'collection-1' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </div>
              <figcaption class="f-body--em">{{ collections['1-of-1s'].title | upcase }}</figcaption>
            </figure>
          </div>
        </a>
      </li>
    {% endif %}
  </ul>
</div>

{% schema %}
{
  "name": "Project Grid",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Explore the gifts selection"
    }
  ],
  "presets": [
    {
      "name": "Project Grid"
    }
  ]
}
{% endschema %}
